
*{
  padding: 0;
  margin: 0;

}
.mainDiv{
  margin-top: -20px;
  background-color: #ecf8fc;
  background: rgb(9, 227, 20);
  background: linear-gradient(0deg, rgb(76, 243, 10) 1%, rgb(133, 186, 118) 100%);
  min-height: 100%;

}
