<div class="sub-page">
    <h1>What We Do</h1>
<p>Our system utilizes state-of-the-art computer vision techniques to analyze leaf images and detect various diseases. Users can easily upload photos of their plants, and our software will provide instant feedback on potential diseases, along with recommended treatments and prevention strategies.</p>

<h3>Key Features</h3>
<p>User-Friendly Interface<br>
    Comprehensive Database:<br>
    Real-Time Diagnostics: <br>
    Educational Resources 
</p>
<h3>Why It Matters</h3>
<p>Plant diseases can significantly impact crop yields and the overall health of gardens. Early detection is crucial in mitigating damage and ensuring sustainable agriculture. Our system empowers users to take charge of their plant care, reducing reliance on chemical treatments and promoting environmentally friendly practices.</p>

<h3>Join Our Community</h3>
<p>We believe in the power of shared knowledge and community support. By using our system, you not only gain valuable insights into plant health but also join a community of like-minded individuals passionate about gardening and sustainability.</p>
<img src="mayankm.jpg" alt="Plant image">


<h2>Thank you for visiting our site! We are excited to help you cultivate a thriving, healthy garden.</h2>
</div>