 <!-- Admin Management Works -->

 <p>view works</p>
 <!-- <div class="adminManage">
  <div><a routerLink="users">User Management Works</a></div> -->
  <!-- <div><a routerLink="addUser">Add-User</a></div>
  <div><a routerLink="update/:id">Update-User</a></div>
  <div><a routerLink="deleteUser">Delete-User</a></div> -->
<!--

  @if(isLoggedIn){
  <div><button (click)="login()"  style="border:none ;padding:3px" >Login</button></div>
  } @else {
  <div><button   (click)="logout()" style="border:none ;padding:3px" >Logout </button></div>
  }
 </div> -->
